#include <windows.h>

#define IDD_BACKLOG 106

IDD_BACKLOG DIALOGEX 0, 0, 360, 300
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOOLWINDOW
CAPTION "백로그"
FONT 9, "맑은 고딕", 400, 0, 0x81
BEGIN
    CONTROL         "", 3001, "RICHEDIT50W", WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER | WS_VSCROLL | WS_HSCROLL | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY, 6, 6, 348, 230

    GROUPBOX        "필터", 3030, 6, 240, 218, 54
    CONTROL         "원문만", 3010, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 12, 254, 50, 11
    CONTROL         "번역만", 3011, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 65, 254, 50, 11
    CONTROL         "전체", 3012, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 118, 254, 38, 11
    AUTOCHECKBOX    "줄바꿈 추가", 3002, 160, 254, 58, 11

    GROUPBOX        "동작", 3031, 228, 240, 126, 54
    PUSHBUTTON      "초기화", 3020, 235, 254, 34, 15
    PUSHBUTTON      "저장", 3021, 274, 254, 34, 15
    PUSHBUTTON      "폰트", 3022, 313, 254, 34, 15
END
