#include <windows.h>

#define IDD_FILE_TRANS 104

IDD_FILE_TRANS DIALOGEX 0, 0, 320, 240
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOOLWINDOW
CAPTION "파일 번역"
FONT 9, "맑은 고딕", 400, 0, 0x81
BEGIN
    GROUPBOX        "입력 파일", -1, 6, 3, 300, 37
    LTEXT           "파일:", -1, 11, 16, 29, 10
    EDITTEXT        4001, 43, 14, 211, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "찾아보기", 4003, 260, 14, 40, 14

    GROUPBOX        "출력 파일", -1, 6, 43, 300, 37
    LTEXT           "파일:", -1, 11, 56, 29, 10
    EDITTEXT        4002, 43, 54, 211, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "찾아보기", 4004, 260, 54, 40, 14

    GROUPBOX        "미리보기 (처음 7줄)", -1, 6, 83, 300, 69
    EDITTEXT        4005, 11, 93, 289, 53, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL

    GROUPBOX        "출력 형식", -1, 6, 155, 200, 29
    CONTROL         "번역만", 4010, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 11, 165, 46, 11
    CONTROL         "원문+번역", 4011, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 60, 165, 51, 11
    CONTROL         "원문+번역+개행", 4012, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 114, 165, 69, 11
    AUTOCHECKBOX    "줄바꿈만 있는 라인 번역 안함", 4020, 11, 177, 103, 11

    GROUPBOX        "동작", -1, 211, 155, 94, 29
    DEFPUSHBUTTON   "번역 시작", 4030, 220, 165, 37, 15
    PUSHBUTTON      "닫기", 4031, 263, 165, 34, 15

    LTEXT           "", 4040, 11, 189, 291, 19
END
