#include <windows.h>

#define IDD_HOOK_FIND 108

IDD_HOOK_FIND DIALOGEX 0, 0, 390, 392
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "후킹 관리"
FONT 9, "맑은 고딕", 400, 0, 0x81
BEGIN
    GROUPBOX        "후킹 대상", 6160, 6, 4, 378, 100
    LTEXT           "텍스트를 읽어올 게임 창을 선택하세요:", -1, 12, 17, 176, 10
    LTEXT           "상태", -1, 194, 17, 24, 10
    LTEXT           "연결 안 됨", 6100, 220, 17, 156, 10, SS_PATHELLIPSIS
    LISTBOX         6001, 12, 29, 286, 67, WS_VSCROLL | WS_BORDER | LBS_NOINTEGRALHEIGHT
    PUSHBUTTON      "새로 고침", 6010, 304, 29, 72, 15
    DEFPUSHBUTTON   "연결", 6011, 304, 49, 72, 15
    PUSHBUTTON      "후킹 중지", 6150, 304, 69, 72, 15

    GROUPBOX        "수동 후크 코드", 6161, 6, 107, 378, 36
    EDITTEXT        6101, 12, 121, 286, 14, ES_AUTOHSCROLL | WS_BORDER
    PUSHBUTTON      "설치", 6110, 304, 120, 72, 15

    GROUPBOX        "텍스트 스레드", 6162, 6, 146, 378, 126
    LTEXT           "목록에서 스레드를 고른 뒤 선택 버튼을 누르세요:", -1, 12, 159, 364, 10
    LISTBOX         6120, 12, 172, 176, 72, WS_VSCROLL | WS_HSCROLL | WS_BORDER | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    EDITTEXT        6121, 194, 172, 182, 72, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER
    PUSHBUTTON      "선택", 6122, 116, 249, 72, 15, WS_DISABLED
    LTEXT           "문장 병합 창(ms)", -1, 194, 252, 66, 10
    EDITTEXT        6123, 262, 249, 44, 14, ES_AUTOHSCROLL | ES_NUMBER | WS_BORDER
    PUSHBUTTON      "적용", 6124, 314, 249, 62, 15

    GROUPBOX        "후크 검색", 6163, 6, 275, 378, 108
    EDITTEXT        6130, 12, 288, 286, 14, ES_AUTOHSCROLL | WS_BORDER
    LISTBOX         6131, 12, 307, 286, 71, WS_VSCROLL | WS_HSCROLL | WS_BORDER | LBS_NOINTEGRALHEIGHT
    PUSHBUTTON      "문장 검색", 6140, 304, 288, 72, 15
    PUSHBUTTON      "자동 탐색", 6141, 304, 308, 72, 15
    DEFPUSHBUTTON   "선택 후보 설치", 6142, 304, 328, 72, 15, WS_DISABLED

END
