#include <windows.h>

#define IDD_HOOK_SETTINGS 101

IDD_HOOK_SETTINGS DIALOGEX 0, 0, 257, 187
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOOLWINDOW
CAPTION "후크 설정"
FONT 9, "맑은 고딕", 400, 0, 0x81
BEGIN
    GROUPBOX        "활성 후크", -1, 6, 5, 103, 128
    LISTBOX         6001, 11, 16, 91, 96, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "위로", 6020, 11, 115, 43, 13
    PUSHBUTTON      "아래로", 6021, 60, 115, 43, 13

    PUSHBUTTON      "->", 6010, 114, 43, 29, 16
    PUSHBUTTON      "<-", 6011, 114, 64, 29, 16

    GROUPBOX        "비활성 후크", -1, 149, 5, 103, 128
    LISTBOX         6002, 154, 16, 91, 96, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP

    LTEXT           "→/← 로 후크를 이동, 위/아래로 활성 후크 순서 조정. '적용' 으로 저장.", -1, 6, 152, 246, 10
    PUSHBUTTON      "적용", 6030, 131, 168, 57, 16
    DEFPUSHBUTTON   "닫기", 6031, 194, 168, 57, 16
END
