#include <windows.h>

#define IDD_TRANSLATE 105

IDD_TRANSLATE DIALOGEX 0, 0, 291, 288
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOOLWINDOW
CAPTION "번역"
FONT 9, "맑은 고딕", 400, 0, 0x81
BEGIN
    GROUPBOX        "번역 설정", -1, 6, 3, 271, 29
    LTEXT           "엔진:", -1, 11, 15, 23, 10
    COMBOBOX        2020, 37, 13, 57, 80, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "소스:", -1, 103, 15, 23, 10
    COMBOBOX        2021, 126, 13, 57, 80, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "타겟:", -1, 191, 15, 23, 10
    COMBOBOX        2022, 214, 13, 57, 80, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "원문 입력", -1, 6, 35, 271, 69
    EDITTEXT        2001, 11, 45, 260, 53, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "번역 결과", -1, 6, 107, 271, 69
    EDITTEXT        2002, 11, 117, 260, 53, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "옵션", -1, 6, 179, 131, 48
    AUTOCHECKBOX    "자동 번역", 2006, 11, 189, 57, 11
    AUTOCHECKBOX    "줄바꿈 제거", 2007, 71, 189, 63, 11
    LTEXT           "출력 형식:", -1, 11, 203, 40, 10
    CONTROL         "일반", 2010, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 54, 202, 29, 11
    CONTROL         "괄호", 2011, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 86, 202, 29, 11
    CONTROL         "분리", 2012, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 117, 202, 29, 11

    GROUPBOX        "동작", -1, 143, 179, 134, 48
    DEFPUSHBUTTON   "번역", 2003, 151, 192, 37, 15
    PUSHBUTTON      "복사", 2004, 194, 192, 37, 15
    PUSHBUTTON      "초기화", 2005, 237, 192, 34, 15

    GROUPBOX        "LLM 설정", 2040, 6, 229, 271, 53
    LTEXT           "제공자(&P):", 2041, 11, 241, 40, 10
    COMBOBOX        2030, 54, 240, 51, 90, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "모델(&M):", 2042, 114, 241, 34, 10
    COMBOBOX        2031, 149, 240, 122, 100, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "API 키(&K):", 2043, 11, 260, 46, 10
    EDITTEXT        2032, 60, 259, 211, 12, ES_AUTOHSCROLL | ES_PASSWORD | WS_TABSTOP
END
